.features {
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 40px;
  }

  .row {
    margin-top: 80px;

    &:first-child {
      margin-top: 25px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 0 !important;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: $px-xl;
    padding-right: 0;
  }

  .bg_figure {
    position: absolute;
  }

  .features__img {
    position: absolute;
    left: 0;
    max-width: 100%;
    z-index: 1;
  }

  .content__bg {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    .bg_left {
      bottom: 0;
      left: 0;
    }

    .bg_right {
      top: 0;
      right: 0;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 136px;
    min-height: 760px;

    @include media-breakpoint-down(lg) {
      padding-left: $px-lg;
    }

    @include media-breakpoint-down(md) {
      padding-top: 40px;
      padding-bottom: 0px;
      min-height: 1px;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 32px;
      padding-left: $px-sm;
    }

    .features__icon {
      max-width: 64px;
      margin-bottom: 25px;

      @include media-breakpoint-down(sm) {
        max-width: 54px;
        margin-bottom: 16px;
        margin-left: -7px;
      }
    }

    h2 {
      max-width: 436px;

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }

    p {
      max-width: 384px;
      margin-top: 25px;

      @include media-breakpoint-down(md) {
        max-width: 100%;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 14px;
      }
    }

    .btn {
      margin-top: 32px;

      @include media-breakpoint-down(sm) {
        margin-top: 17px;
      }
    }
  }

  .content__bg-green {
    .content__bg {
      background-color: rgba($green, 0.9);
    }

    .features__img {
      max-width: 128%;
      transform: translateX(-35px);
    }
  }

  .content__bg-blue {
    .content__bg {
      background-color: $blue;
    }

    .features__img {
      transform: translate(-5%, 42px);
    }
  }

  .content__bg-blue-light {
    .content__bg {
      background-color: $blue-light;
    }

    .features__img {
      transform: translateX(20px);
    }
  }
}