// ############ Colors ############

$gray:        #2F374B;
$gray-600:    #828496;
$gray-400:    #C0C0D0;
$gray-lighter:#EDEFF4;
$gray-light:  #F8F9FB;

$green:       #1EB88D;
$green-light: #E2FEF6;

$blue:        #3467BC;
$blue-light:  #4BB3FF;
$blue-200:    #EEF5FF;

$purple:      #6772D3;
$purple-light:#F1EEFF;
$purple-600:  #5C47E0;

$red:         #FFEDED;