*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $font-primary;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: $gray;
  background-color: $white;
  overflow-x: hidden;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}
// Variables for paddings X that set both *-left and *-right
$px-xl:   112px;
$px-lg:   60px;
$px-sm:   24px;

.content {
  padding-left: $px-xl;
  padding-right: $px-xl;

  @include media-breakpoint-down(lg) {
    padding-left: $px-lg;
    padding-right: $px-lg;
  }

  @include media-breakpoint-down(sm) {
    padding-left: $px-sm;
    padding-right: $px-sm;
  }
}